<div class="page-content container note-has-grid">
  <ul class="nav nav-pills p-3 bg-white mb-3 rounded-pill align-items-center">
      <li class="nav-item pointer">
          <a class="pointer nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2" >
              <span class="d-none d-md-block">All Notes</span>
          </a>
      </li>
      <li class="nav-item pointer">
          <a class="pointer nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2">
            <span class="d-none d-md-block">
              High <i class="point fa fa-circle ml-1 font-10" style="color: #ff505080;"></i>
            </span></a>
      </li>
      <li class="nav-item pointer">
          <a class="pointer nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2">
            <span class="d-none d-md-block">
              Medium <i class="point fa fa-circle ml-1 font-10" style="color: #2cabe380;"></i>
            </span></a>
      </li>
      <li class="nav-item pointer">
          <a class="pointer nav-link rounded-pill note-link d-flex align-items-center px-2 px-md-3 mr-0 mr-md-2">
             <span class="d-none d-md-block">
               Low <i class="point fa fa-circle ml-1 font-10" style="color: #2cd07e80;"></i>
              </span></a>
      </li>
      <li class="nav-item ml-auto pointer">
          <a class="pointer nav-link btn-primary rounded-pill d-flex align-items-center px-3" data-toggle="modal" data-target="#newNote">
            <span class="d-none d-md-block font-14" style="color: white;">Add Note</span></a>
      </li>
  </ul>
  <div class="tab-content bg-transparent">
      <div id="note-full-container" class="note-has-grid row">
        <ng-container *ngIf="(appState$ | async) as result" [ngSwitch]="result.dataState">

          <ng-container *ngSwitchCase="DataState.LOADING_STATE">
            <div  class="col-md-12 single-note-item text-center">
                <div class="spinner-border text-info" role="status"></div>
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="DataState.ERROR_STATE">
            <div class="alert-danger">
              {{ result.error }}
            </div>
          </ng-container>

          <ng-container *ngSwitchCase="DataState.LOADED_STATE">
            <div *ngFor="let note of result?.data?.notes" class="col-md-4 single-note-item"
            [ngClass]="[note.level === 'HIGH' ? 'note-important'  : '',
                        note.level === 'MEDIUM' ? 'note-sociel'  : '',
                        note.level === 'LOW' ? 'note-business'  : '']">
                <div class="card card-body">
                    <span class="side-stick"></span>
                    <h5 class="note-title text-truncate w-65 mb-0">
                     {{ note.title }}
                        <i class="point fa fa-circle ml-1 font-10"></i></h5>
                        <p class="note-date font-12 text-muted">Since: {{ note.createdAt | date: 'MMMM d, y, h:mm a' }}</p>
                        <div class="note-content">
                          <p class="note-inner-content text-muted">
                              {{ note.description}}
                          </p>
                      </div>
                    <div class="d-flex align-items-center">
                        <span  class="mr-1 pointer">
                          <i class="fa fa-trash remove-note">
                          </i></span>
                        <div class="ml-auto">
                            <div class="category-selector btn-group">
                                <a  class="pointer nav-link label-group p-0" role="button" aria-haspopup="true" aria-expanded="true">
                                  <span class="mr-1"><i class="fa fa-edit remove-note"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </ng-container>
        </ng-container>

      </div>
  </div>

  <a id="editNoteButton" data-toggle="modal" data-target="#editNote">
  </a>

  <!-- Add Note Modal -->
  <div class="modal fade" id="newNote" tabindex="-1" role="dialog" aria-labelledby="addNoteoteModal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content border-0">
              <div class="modal-header bg-info text-white">
                  <h5 class="modal-title text-white">Add a Note</h5>
                  <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <div class="notes-box">
                      <div class="notes-content">
                          <form>
                              <div class="row">
                                  <div class="col-md-12 mb-3">
                                      <div class="note-title">
                                          <label>Title</label>
                                          <input name="title"  required type="text" class="form-control" minlength="5" maxlength="255" placeholder="Title" />
                                      </div>
                                  </div>
                                  <div class="col-md-12 mb-3">
                                      <div class="note-title">
                                          <label>Priority</label>
                                          <select class="custom-select"  required name="level">
                                            <option></option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="note-description">
                                          <label>Description</label>
                                          <textarea name="description"  required class="form-control" minlength="10" maxlength="255" placeholder="Description" rows="3"></textarea>
                                      </div>
                                  </div>
                              </div>
                              <div class="modal-footer">
                                  <button class="btn btn-danger" id="closeModal" data-dismiss="modal">Discard</button>
                                  <button type="submit" class="btn btn-info">
                                    <i class="fas fa-spinner fa-spin"></i>
                                    <span>Saving...</span>
                                    <span>Save</span>
                                  </button>
                              </div>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Edit Note Modal -->
  <div class="modal fade" id="editNote" tabindex="-1" role="dialog" aria-labelledby="editNoteoteModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content border-0">
            <div class="modal-header bg-info text-white">
                <h5 class="modal-title text-white">Edit Note</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="notes-box">
                    <div class="notes-content">
                        <form>
                            <div class="row">
                                <div class="col-md-12 mb-3">
                                    <div class="note-title">
                                        <label>Title</label>
                                        <input type="hidden"  name="id" id="id">
                                        <input  name="title" required type="text" class="form-control" minlength="5" maxlength="255" placeholder="Title" />
                                    </div>
                                </div>
                                <div class="col-md-12 mb-3">
                                    <div class="note-title">
                                        <label>Priority</label>
                                        <select class="custom-select" required name="level">
                                          <option></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="note-description">
                                        <label>Description</label>
                                        <textarea  name="description" required class="form-control" minlength="10" maxlength="255" placeholder="Description" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-danger" id="closeModalEdit" data-dismiss="modal">Discard</button>
                                <button type="submit"  class="btn btn-info">
                                  <i  class="fas fa-spinner fa-spin"></i>
                                  <span >Saving...</span>
                                  <span >Save</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
